.p {
    color: var(--black-text);
    margin: 0;
}

.m {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.s {
    color: #8291A3;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: .3px;
}

