.container {
    max-width: 144rem;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: auto minmax(32rem, 128rem) auto;
    grid-template-rows: auto 1fr auto; /*Растягивает body на сколько позволяет контент */
    min-height: 100vh; /*Растягивает содержимое на всю высоту экрана */
    grid-template-areas: 
        "header header header"
        ". body ."
        "footer footer footer";
}

.header {
    grid-area: header;    
}

.body {
    grid-area: body;
}

.footer {
    grid-area: footer;
}